.thumbnail.integration-cell
  .caption
    %h2
      What about generating permissions repo?
    Generate...
    %hr
      = link_to 'Users', generate_users_path, class: 'btn btn-primary btn-lg'
      = link_to 'Github teams', github_generate_permissions_path, class: 'btn btn-primary btn-lg'
      = link_to 'Google groups', google_generate_permissions_path, class: 'btn btn-primary btn-lg'
      = link_to 'Rollbar teams', rollbar_generate_permissions_path, class: 'btn btn-primary btn-lg'
      = link_to 'Toggl teams', toggl_generate_permissions_path, class: 'btn btn-primary btn-lg'
