.jumbotron
  = render "one_click_integration"
.jumbotron
  = render "github_integration"
.jumbotron
  = render "google_integration"
.jumbotron
  = render "rollbar_integration"
.jumbotron
  = render "toggl_integration"
- if Features.on?(:generate_permissions)
  .jumbotron
    = render "generate_integration"
