.row
  .col.s12.m6
    = render 'github_integration'
  .col.s12.m6
    = render 'google_integration'
  .col.s12.m6
    = render 'rollbar_integration'
  .col.s12.m6
    = render 'toggl_integration'
  .col.s12.m6
    = render 'hockeyapp_integration'
  .col.s12.m6
    = render "jira_integration"

.row
  - if Features.on?(:generate_permissions)
    = render "generate_integration"
