.row
  .col-xs-12
    %table.table
      %thead
        %tr
          %th Name
          %th Archiving enabled
          %th Show in directory
          %th Open
          %th Closed
          %th Members
          %th Aliases

      %tbody
        - groups_from_google_api.each do |g|
          %tr
            %td= g.name
            %td= bool_label(g.archive?)
            %td= bool_label(g.show_in_group_directory?)
            %td= bool_label(g.open?)
            %td= bool_label(g.closed?)
            %td= g.members.map { |m| m.email }.join(', ')
            %td= g.aliases.to_a.join(', ')
