.card-panel
  %h4 Rollbar teams

  - if pending_invitations.any?
    = render 'pending_invitations'

  - if diff_errors.present?
    = render 'errors'

  - if log_empty?(rollbar_log)
    %h4 Move along, nothing to see here.
    = link_to "Wicked!", root_path, class: 'btn btn-primary btn-lg'
    = link_to 'Refresh cache!', rollbar_refresh_cache_path, class: 'btn btn-primary btn-lg'
  - else
    %h4 Please confirm changes below:
    = render "rollbar_log"
    = form_tag rollbar_sync_path, class: 'inline', method: :post do
      = button_tag "Confirm changes", type: :submit, class: 'btn btn-primary btn-lg', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> I\'m on it...".html_safe
    = link_to 'Refresh cache', rollbar_refresh_cache_path, class: 'btn btn-primary btn-lg', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> I\m on it...".html_safe

  - if validation_errors.empty? && missing_teams.any?
    %h4 Stranded teams
    %h5 Following teams are on Rollbar, but can't be found in permissions repository - they most likely should be deleted.
    %ul.collection
      - missing_teams.each do |team|
        = link_to team.name, rollbar_team_path(team.id), class: 'collection-item'
    = form_tag rollbar_cleanup_teams_path, method: :delete do
      = button_tag "Ok, it makes sense to remove these teams!", type: :submit, class: 'btn btn-primary btn-lg', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> I\'m on it...".html_safe
