%h2 Teamless users
- if users.any?
  - if users.fetch(:teamless).any?
    %p Following users are not assigned to any team on GitHub. You should probably remove them.
    %table.table
      %thead
        %tr
          %th Name
          %th Github handle
          %th Email
      %tbody
        - users.fetch(:teamless).each do |u|
          %tr
            %td
              = u.name
            %td
              = link_to u.github, u.html_url
            %td
              = u.email

  - if users.fetch(:missing_from_dg).any?
    %p
      Following users are teamless and also missing from permissions repo:
      - users.fetch(:missing_from_dg).each do |u|
        %span
          = link_to u.github, u.html_url
    = form_tag github_cleanup_members_path, method: :delete do
      = button_tag "Show them the door!", type: :submit, class: 'btn btn-primary btn-lg'

- else
  %p There are no users without a team on GitHub. Great job!

