.jumbotron
  %h2 Github teams
  %h3 Please confirm changes below:

  - if log_empty?(@gh_log)
    %h3 Move along, nothing to see here.
    = link_to "Wicked!", root_path, class: 'btn btn-primary btn-lg'
  - else
    = render "gh_log"
    = button_to "Confirm changes", github_sync_path, method: :post, class: 'btn btn-primary btn-lg'

  - if validation_errors.empty? && missing_teams.size > 0
    %h2 Stranded teams
    %h3 Following teams are on GitHub, but can't be found in permissions repository - they most likely should be deleted.
    %ul.list-group
      - missing_teams.each do |team|
        = link_to team.name, github_team_path(team.name), class: 'list-group-item'
    = button_to "Ok, it makes sense to remove these teams!",
                github_cleanup_teams_path,
                method: :delete,
                class: 'btn btn-primary btn-lg'
