%p Poniżej znajdują się dane do zalogowania się na naszej poczcie:

%p Logujemy się tutaj: http://gmail.com

%p username: #{@login}
%p email address: #{@email}
%p password: #{@password}
%p
  two step auth codes: #{@codes.join(', ')}

- @account_using_instruction.each do |paragraph|
  %p
    = paragraph
