Poniżej znajdują się dane do zalogowania się na naszej poczcie:

Logujemy się tutaj: http://gmail.com

username: #{@login}
email address: #{@email}
password: #{@password}
two step auth codes: #{@codes.join(', ')}

- @account_using_instruction.each do |paragraph|
  = paragraph

