.jumbotron
  %h2
    Ready to sync github teams?
  = link_to "Review last changes in permissions", AppConfig.permissions_repo.url, target: "_blank"
  %hr
  - if validation_errors.empty?
    = link_to "Show diff", show_diff_github_index_path, class: 'btn btn-primary btn-lg'
  - else
    %h3 Unable to parse following .yml files:
    %ul.list-group
    - validation_errors.each do |error|
      = link_to error.message, github_file_path(error.file), class: 'list-group-item list-group-item-danger'

- if validation_errors.empty? && missing_teams.size > 0
  .jumbotron
    %h2 Validations
    %h3 Following teams are on GitHub, but can't be found in permissions repository - they most likely should be deleted.
    %ul.list-group
      - missing_teams.each do |team|
        = link_to team.name, github_team_path(team.name), class: 'list-group-item'
    = button_to "Ok, it makes sense to remove these teams!",
                cleanup_teams_github_index_path,
                method: :delete,
                class: 'btn btn-primary btn-lg'
