.jumbotron
  %h2 HockeyApp Apps

  - if log_empty?(hockeyapp_log)
    %h3 Move along, nothing to see here.
    = link_to "Wicked!", root_path, class: 'btn btn-primary btn-lg'
    = link_to "Refresh cache!", hockeyapp_refresh_cache_path, class: 'btn btn-primary btn-lg'
  - else
    %h3 Please confirm changes below:
    = render "hockeyapp_log"
    = form_tag hockeyapp_sync_path, class: 'inline', method: :post do
      = button_tag "Confirm changes", type: :submit, class: 'btn btn-primary btn-lg', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> I\'m on it...".html_safe
    = link_to "Refresh cache!", hockeyapp_refresh_cache_path, class: 'btn btn-primary btn-lg', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> I\'m on it...".html_safe

  - if missing_apps_in_api.any?
    %h3 Missing apps in HockeyApp service
    %p
      Apps found in permissions repo and not in HockeyApp service:
    %ul.list-group
    - missing_apps_in_api.each do |app|
      %li.list-group-item #{app}

  - if missing_apps_in_dg.any?
    %h3 Missing apps in permissions repo
    %p
      Add those app in permissions repo or delete:
    %ul.list-group
    - missing_apps_in_dg.each do |app|
      %li.list-group-item
        %a{href: app_link(app.optional_info[:id])}
          #{app.name} / #{app.optional_info[:platform]} / #{app.optional_info[:custom_release_type]}
